{% extends "base.html" %}

{% load static %}
{% block content %}
<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-color: #D5A62EFF;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>ВИБЕРІТЬ МОДЕЛЬ АВТОМОБІЛЯ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                {% include 'sidebar.html' %}
                <div class="col-12 col-md-8 col-lg-9" style="margin-top: 25px">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <!-- Single Product -->
                            {% for model in car_models %}
                            <div class="col-12 col-sm-6 col-lg-4 ">
                                <a href="{{model.name_of_model}}">
                                <div  class="single-product-wrapper border-1">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img style="padding: 25px; max-height: 253px" src="{{model.img_of_model.url }}" alt="">
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="{{model.name_of_model}}">
                                            <h6 class="h6 pad">{{model.name_of_model}}</h6>
                                        </a>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                            <!-- Single Product -->
                        </div>
                    </div>
                    <!-- Pagination -->
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

</body>
{% endblock %}
</html>