{% load static %}
{% load cart %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                      <!-- Single Product -->
                        {% for top_product in top_products %}
                            <div class="single-product-wrapper border-1">
                            <!-- Product Image -->
                            <div class="product-img"style="width: 255px; height: 255px;padding: 25px">
                                <img src="{{top_product.image.url }}" alt="">
                                <!-- Hover Thumb -->

                                <!-- Product Badge -->
                                {% if top_product|is_product_new %}
                                <div class="product-badge new-badge">
                                    <span>New</span>
                                </div>
                                {% endif %}

                                <!-- Favourite -->
                                <div class="product-favourite">
                                            <form action="{% url 'add_deadd_something_from_favorite' %}" method="POST">
                                                {% csrf_token %}
                                                <input hidden type="text" name="product_for_favorite" value="{{top_product.id}}">
                                                <input hidden type="text" name="next" value="{{ request.path }}">
                                                <button class="favme fa fa-heart" style="position: absolute;height: 25px;width: 45px;font-size: 14px;color: #ccc;top: 20px;right: 20px;z-index: 10;line-height: 25px;background-color: #ffffff;box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);text-align: center;" type="submit">
                                                </button>
                                            </form>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{top_product.serial_number}}</span>
                                <span class="pad">{{top_product.produced_by}}</span>
                                        {% if top_product.state %}
                                            <span class="pad">Б/У</span>
                                        {% else %}
                                            <span class="pad">Новий</span>
                                        {% endif %}
                                <a href="{% url 'Auto_part_det' %}{{top_product.id}}">
                                    <h6>{{top_product.name}}</h6>
                                </a>
                                <p class="product-price">{{top_product.price}} грн.</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    {% if top_product|is_in_cart:request.session.cart  %}
                                        <div class="row nu-gutters bg-light">
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name="product" value="{{top_product.id}}">
                                                        <input hidden type="text" name="remove" value="True">
                                                        <input type="submit" value=" - " class="btn btn-block btn-secondary">
                                                    </form>
                                                        <div class="text-center col">{{ top_product|cart_quantity:request.session.cart }}</div>
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product" value="{{top_product.id}}">
                                                        <input type="submit" value=" + " class="btn btn-block btn-secondary">
                                                    </form>
                                            </div>
                                    {% else %}
                                        <div class="add-to-cart-btn">

                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="product" value="{{top_product.id}}">
                                                <input type="submit" class="btn essence-btn" value="У кошик">
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>