{% extends "base.html" %}
{% load static %}
{% load cart %}
{% block content %}
<body>

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel" style="max-height: 600px;">
                <img class="img_product" src="{{auto_part.image.url}}" style="max-height: 600px;" alt="">
                {% if auto_part.image_2 %}
                    <img class="img_product" src="{{auto_part.image_2.url }}" style="max-height: 600px;" alt="">
                {% else %}
                <img class="img_product" src="{{auto_part.image.url}}" style="max-height: 600px;" alt="">
                {% endif %}
                {% if auto_part.image_3 %}
                    <img class="img_product" src="{{auto_part.image_3.url }}" style="max-height: 600px;" alt="">
                {% else %}
                <img class="img_product" src="{{auto_part.image.url}}" style="max-height: 600px;" alt="">
                {% endif %}
            </div>
            <div class="img_center">
                <img class="img_product_detail" src="{{auto_part.image.url }}" alt="">
                {% if auto_part.image_2 %}
                    <img class="img_product_detail" src="{{auto_part.image_2.url }}" alt="">
                {% endif %}
                {% if auto_part.image_3 %}
                    <img class="img_product_detail" src="{{auto_part.image_3.url }}" alt="">
                {% endif %}
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span></span>
            <a href="cart.html">
                <h2>{{auto_part.name}}</h2>
            </a>
            <p style="margin-bottom: 0;font-family: 'Ubuntu', sans-serif; font-size: 24px; color: #FF4937FF; font-weight: 700;">Ціна:{{auto_part.price}} грн.</p>
            <h6>Серійний номер запчастини: </h6><p class="product-desc">{{auto_part.serial_number}}</p>
            <h6>Виробник: </h6><p class="product-desc">{{auto_part.produced_by}}</p>
            {% if auto_part.state %}
                <h6>Стан: </h6><p class="product-desc">B/Y</p>
            {% else %}
                <h6>Стан: </h6><p class="product-desc">Новий</p>
            {% endif %}
            <h6>Код товару: </h6><p class="product-desc">{{auto_part.id}}</p>
            {% if auto_part.description %}
                <h6>Опис: </h6><p class="product-desc">{{auto_part.description}}</p>
            {% endif %}
            <!-- Form -->
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex" style="align-items: center;padding: 5px; display: flex">
                    <!-- Cart -->
                    {% if auto_part|is_in_cart:request.session.cart  %}
                        <div class="row nu-gutters bg-light" style="display: flex">
                                                    <form style="display: flex" action="" class="" method="post">
                                                        {% csrf_token %}
                                                        <input hidden type="text" name="product" value="{{auto_part.id}}">
                                                        <input hidden type="text" name="remove" value="True">
                                                        <input type="submit" value=" - " class="btn btn-block btn-secondary">
                                                    </form>
                                                        <div class="text-center col">{{ auto_part|cart_quantity:request.session.cart }}</div>
                                                    <form action="" class="" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product" value="{{auto_part.id}}">
                                                        <input type="submit" value=" + " class="btn btn-block btn-secondary">
                                                    </form>
                                            </div>
                    {% else %}
                        <div class="add-to-cart-btn">

                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="product" value="{{auto_part.id}}">
                                <input type="submit" class="btn essence-btn" value="У кошик">
                            </form>
                        </div>
                    {% endif %}
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        <form action="{% url 'add_deadd_something_from_favorite' %}" method="POST">
                            {% csrf_token %}
                            <input hidden type="text" name="product_for_favorite" value="{{auto_part.id}}">
                            <input hidden type="text" name="next" value="{{ request.path }}">
                            <button class="favme fa fa-star" type="submit">
                            </button>
                        </form>
                    </div>
                </div>
            <form action="{% url 'quick_successful' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-12 mb-3">
                                    <label for="phone_number">Номер телефону</label>
                                    <input type="text" class="form-control" name="phone_number" min="0" max="15" value="">
                                    {% csrf_token %}
                                    <input hidden type="text" value="{{auto_part.id}}" name="auto_part_id">
                                    {% csrf_token %}
                                </div>
                            </div>
                            {% csrf_token %}
                            <input type="submit" class="btn essence-btn" value="Купити">
                            {% csrf_token %}
            </form>

        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Найпопулярніші товари</h2>
                    </div>
                </div>
            </div>
        </div>
    {% include 'top_products.html' %}
    </section>
</body>
{% endblock %}
