{% extends "base.html" %}

{% load static %}
{% block content %}
<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img img_types">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>ВИБЕРІТЬ ТИП ЗАПЧАСТИНИ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">

                            <!-- Single Product -->
                            {% for type in part_types %}
                                <div class="col-12 col-sm-6 col-lg-4 ">
                                <a href="{{type.name_of_type}}">
                                <div  class="single-product-wrapper border-1">
                                    <!-- Product Image -->
                                    <div href="" class="product-img">
                                        <img style="width: 255px;height: 255px;" src="{{type.img_of_type.url }}" alt="">
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="{{type.name_of_type}}">
                                            <h6 class="h6 pad">{{type.name_of_type}}</h6>
                                        </a>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                            <!-- Single Product -->
                        </div>
                    </div>
                    <!-- Pagination -->
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

</body>
{% endblock %}
</html>